.AppItem {
  display: flex;
  padding: 18px;
 }
 .App {
 padding: 19px;
 border: 3px solid black;
 }

 .todolist {
  padding: 18px;
  border: 3px solid black;
  border-radius: 15px;
 }


.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active {
  background-color: rgb(42, 165, 69);
}

.isDone {
  opacity: 0.5;
}