.AppItem{
  display: flex;
  display: inline-block;
}

 .App {
   text-align: center; 
   display: flex;
  display: inline-block; 

} 

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active {
  background-color: rgb(42, 165, 69);
}

.isDone {
  opacity: 0.5;
}